.mask-cont {
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
  );
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* border-bottom: 1px solid #e0e0e0; Optional: add a border if desired */
}
  
